input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
  }

  a {
    text-decoration: none;
    font-size: 1.5em;
    color: cornflowerblue;
    margin: 1%;
  }

  .inputSpan {
    margin: 0.5%;
  }

  .signBtn {
    width: 20%;
    font-size: 1.2em;
    background-color: coral;
    cursor: pointer;
    border: none;
  }

  .todoListBtn {
    margin: 0.5%;
    width: 4em;
    height: 3em;
    background-color: deepskyblue;
    border: none;
    cursor: pointer;
  }

  button:disabled {
    background-color: grey;
    cursor:not-allowed;
  }

  .Main {
    text-align: center;
    margin-top: 20%;
  }
  
  .todoListUl {
    width: 50%;
    text-align: center;
    margin: 10px auto;
  }

  .todoListUl li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 20px;
  }